.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding-logo {
  width: var(--dl-size-size-xlarge);
  height: auto;
  object-fit: cover;
}


@media(max-width: 767px) {
  .branding-logo {
    width: 15px;
    height: 15px;
  }
}
@media(max-width: 479px) {
  .branding-logo {
    width: var(--dl-size-size-xlarge);
    height: 100%;
  }
  .branding-root-class-name1 {
    width: var(--dl-size-size-xxlarge);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dd0101;
}
.home-main {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 600px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  background-size: contain;
  background-image: url("public/mariover-1400w.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-link {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.home-link1 {
  text-decoration: none;
}
.home-link2 {
  text-decoration: none;
}
.home-link3 {
  text-decoration: none;
}
.home-link4 {
  text-decoration: none;
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: #ffffff;
  font-size: 70px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 91px;
}
.home-caption {
  color: #222223;
  font-size: 20px;
  line-height: 30px;
}
.home-help {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-save {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 640px;
  object-fit: cover;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.home-caption1 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-button1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-button2 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #dd0101;
}
.home-petitions {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-main2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.home-caption2 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-button3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-button4 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #dd0101;
}
.home-container2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-size: auto;
  background-image: url("public/nonintendo-sharing-1400w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.home-quote-one {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #dd0101;
}
.home-quote-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-quote {
  color: #ffffff;
  width: 100%;
  font-size: 32px;
  max-width: 900px;
  font-style: italic;
  font-family: Lora;
  font-weight: 500;
  line-height: 48px;
}
.home-quoted {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: row;
}
.home-image1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-color: #222223;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.home-caption3 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  font-style: italic;
  font-family: Lora;
  font-weight: 500;
}
.home-help1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-content4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-save1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.home-header4 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-caption4 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-button5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-button6 {
  color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #dd0101;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #dd0101;
}
.home-top {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.home-middle {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-text3 {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  line-height: 36px;
}
.home-bottom {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.home-copyright {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}
@media(max-width: 1200px) {
  .home-main {
    height: 600px;
    background-position: bottom;
  }
}
@media(max-width: 991px) {
  .home-main {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    gap: 0;
    justify-content: space-between;
  }
  .home-links {
    display: none;
  }
  .home-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-help {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-save {
    flex-direction: column;
  }
  .home-image {
    width: 100%;
  }
  .home-content2 {
    max-width: 100%;
  }
  .home-button1 {
    width: 100%;
  }
  .home-petitions {
    padding-top: 0px;
    flex-direction: column-reverse;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-content3 {
    max-width: 100%;
  }
  .home-button3 {
    width: 100%;
  }
  .home-quote-one {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-help1 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-save1 {
    flex-direction: column;
  }
  .home-image2 {
    width: 100%;
  }
  .home-button5 {
    width: 100%;
  }
  .home-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .home-main {
    gap: var(--dl-space-space-threeunits);
    height: 600px;
    position: relative;
    padding-left: 0px;
    flex-direction: column;
  }
  .home-content {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar-interactive {
    gap: 0;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-help {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading1 {
    text-align: center;
  }
  .home-caption1 {
    text-align: center;
  }
  .home-petitions {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-quote-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-help1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-main {
    height: 500px;
    background-size: contain;
    background-position: bottom;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
    height: auto;
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button {
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: #ffffff;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-help {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-heading1 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-button1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-petitions {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-heading2 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption2 {
    color: rgb(34, 34, 35);
    line-height: 24px;
  }
  .home-quote-one {
    height: 500px;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-quote-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-quote {
    font-size: 18px;
    text-align: center;
    line-height: 27px;
  }
  .home-quoted {
    flex-direction: column;
    justify-content: center;
  }
  .home-image1 {
    width: 40px;
    height: 40px;
  }
  .home-caption3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .home-help1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-caption4 {
    color: rgb(34, 34, 35);
    line-height: 24px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-text3 {
    font-size: 18px;
    line-height: 40px;
  }
  .home-bottom {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-copyright {
    font-size: 10px;
    line-height: 15px;
  }
}
